main {
    .wrapper {
        margin: 0;
    }
    fieldset {
        border: none;
        margin: 0;
    }
    .categories {
        padding: 10%;
        color: $titleOne;
        background-color: $backTwo;
        .categories-flex {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            a {
                color: $titleOne;
            }
        }
    }
    .user-sentence {
        padding: 10%;
        color: $titleOne;
        background-color: $titleTwo;
        input {
            width: 100%;
            font-size: 5rem;
            font-family: $fontTitle;
            background-color: $titleTwo;
            border: 20px dashed $titleOne;
            color: white;
        }
        input[type=submit] {
            @include button($backTwo);
            width: auto;
            border: none;
            margin: 5% auto;
            display: flex;
            justify-content: center;
        }
    }
    // animation
    @keyframes shaking {
        0% {
            transform: rotateZ(15deg);
        }
        100% {
            transform: rotateZ(-15deg);
        }
    }
    i {
        animation-name: shaking;
        animation-duration: 0.1s;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
        &:hover {
            color: $titleTwo;
        }
    }
    input[type='radio']:checked~i {
        color: $titleTwo;
    }
}