// variables
$backOne: rgb(255, 20, 147);
$backTwo: rgb(138, 43, 226);
$titleOne: rgb(255, 255, 0);
$titleTwo:#F92A82;
$fontTitle: 'Bangers',
cursive;
$fontGhost: 'Special Elite',
cursive;
$fontAlien: 'Orbitron',
sans-serif;
$fontWizard: 'Berkshire Swash',
cursive;
//common styles
body {
    font-size: 62.5%;
}

.body-wrapper {
    max-width: 1600px;
}

.wrapper {
    margin: 0 10%;
}

h1,
h2,
h3,
a {
    font-family: $fontTitle;
    letter-spacing: 10px;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 6rem;
    margin-top: 0;
}

h3 {
    font-size: 4rem;
}

input[type='radio'] {
    display: none;
}

i {
    font-size: 10rem;
}

a {
    text-decoration: none;
}

@mixin button($background) {
    border-radius: 20px;
    padding: 2%;
    box-shadow: 0 10px darken($background, 10%);
    text-align: center;
    width: 30%;
    background-color: $background;
    a {
        color: white;
        font-size: 4rem;
    }
    &:hover,
    &:focus,
    &:active {
        transform: translateY(3px);
        box-shadow: 0 5px darken($background, 10%);
    }
}