body {
    font-size: 62.5%;
}

.body-wrapper {
    max-width: 1600px;
}

h1 {
    font-family: 'Monoton', cursive;
    font-size: 5rem;
}

h2 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 5rem;
}

input[type='radio'] {
    display: none;
}

i {
    font-size: 10rem;
}