// variables
$backOne: rgb(255, 20, 147);
$backTwo: rgb(138, 43, 226);
$titleOne: rgb(255, 255, 0);
$titleTwo:#F92A82;
// $backThree: rgb(255, 99, 71);
// $titleThree: rgb(30, 144, 255);
// $itemOne: rgb(220, 20, 60);
// $itemTwo: rgb(25, 25, 112);
$fontTitle: 'Bangers',
cursive;
$fontGhost: 'Special Elite',
cursive;
$fontAlien: 'Orbitron',
sans-serif;
$fontWizard: 'Berkshire Swash',
cursive;
//common styles
body {
    font-size: 62.5%;
}

.body-wrapper {
    max-width: 1600px;
}

.wrapper {
    margin: 0 5%;
}

h1,
h2 {
    font-family: $fontTitle;
    font-size: 8rem;
    letter-spacing: 12px;
}

// h2 {
//     font-family: $fontBody;
//     font-size: 5rem;
// }
input[type='radio'] {
    // display: none;
}

i {
    font-size: 10rem;
}