header {
    height: 100vh;
    background-color: $backOne;
    .wrapper {
        display: flex;
        flex-direction: column;
        // justify-content: center
    }
    h1 {
        color: $titleOne;
    }
    .start-btn {
        @include button($backTwo);
    }
}