article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-size: 62.5%;
}

.body-wrapper {
  max-width: 1600px;
}

.wrapper {
  margin: 0 5%;
}

h1,
h2 {
  font-family: "Bangers", cursive;
  font-size: 8rem;
  letter-spacing: 12px;
}

i {
  font-size: 10rem;
}

header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: deeppink;
}

header h1 {
  color: yellow;
}

main .wrapper {
  margin: 0;
}

main form {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

main form fieldset {
  border: none;
}

main .categories {
  padding: 10%;
  color: yellow;
  background-color: blueviolet;
}

main .categories .categories-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .user-sentence {
  padding: 10%;
  color: yellow;
  background-color: #F92A82;
}

main .user-sentence input {
  width: 100%;
  font-size: 5rem;
  font-family: "Bangers", cursive;
  background-color: #F92A82;
  border: 20px dashed yellow;
}

main .user-sentence input[type=submit] {
  width: auto;
  padding: 2%;
  border: none;
  margin: 2% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main i:hover {
  color: #F92A82;
}

main input[type='radio']:checked i {
  border: 20px dashed yellow;
}

.image-wrapper {
  width: 45%;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
}

.result {
  background-color: blueviolet;
}

.result .wrapper {
  padding: 10%;
}

.result .characterReply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5%;
  color: yellow;
  font-size: 3rem;
}

.result .result-text-style {
  font-size: 5rem;
  margin: 0;
  text-align: center;
}

.result .result-reply {
  font-size: 3rem;
}

.wizard-text {
  font-family: "Berkshire Swash", cursive;
}

.alien-text {
  font-family: "Orbitron", sans-serif;
}

.ghost-text {
  font-family: "Special Elite", cursive;
}

.mirror-text {
  font-family: "Bangers", cursive;
}
/*# sourceMappingURL=style.css.map */